td.voteresults-footer {
  text-align:center;
}

.voteresults-column-text {
  white-space:nowrap;
}

.voteresults-column-number {
  text-align:right;
}

.voteresults-column-bar {
  width:85%;
}

.voteresults-bar {
  background:linear-gradient(#808080, #70726F);
}

.input-error {
    display:none;
    color:red;
}

.input-error.input-error-visible {
    display: block;
}

.ui-li-aside {
	width:auto!important
}